*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

nav {
  height: 50px;
  background-color: gray;
  font-size:0px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.block_element{
  height:50px;
}

.inline-block{
  display: inline-block;
  padding: 15px;
  background-color: gray;
  font-size: 18px;
  font: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
}

a{
  color: white;
}

.sidenav{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  margin-top: 50px;
}

.smallgus{
  width: 220px;
  margin-left: 15px;
  margin-top: 0px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 24px;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
  font-size: 20px;
  padding-left: 15px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
  font-size: 18px;
  padding-left: 15px;
}

.main{
  margin-left: 250px;
  background-color: #FDF9EF;
  height: 100%;
  overflow: auto;
}

.maingus{
  margin-left: 25px;
  height: 300px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 25px;
  float: left;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 24px;
  padding-left: 25px;
  margin-left: 25px;
  margin-top: 75px;
  text-align: center;
  text-decoration: underline;
}

#black{
  color: black;
  margin-top: 24px;
  margin-left: 15px;
  padding-left: 15px;
}

.submain{
  background-color: #FDF9EF;
  margin-left: 250px;
  height: 100%;
  text-align: center;
}

.gussub{
  width: 200px;
  height: 225px;
  text-align: center;
  margin: 25px;
}
h4{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

.block_element a:hover{
  color: blue;
  cursor: pointer;
}

footer{
  padding: 25px;
  background-color:gray;
  width: 100%;
  text-align: right;
}

.footericons{
  height: 30px;
  width: 30px;
  margin-right: 25px;
}

.footericons a:hover{
  color:#256EF8
}
